* {
    box-sizing: border-box;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin: 42px;
}